#container{
    position: relative;
    width: 250px;
    height: 320px;
    /*background: green;*/
}

/* La carte */
.carte{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;/* cela permet que le texte ce retourne aussi pour être compréhensible siono il est à l'enver */
    transition: all 0.5s ease;
    /*background: yellow;*/
}
/* La carte  */
.carte:hover{
    transform: rotateY(180deg);
}

/* Avant de la carte */
.avant{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(128, 128, 128, 0.668);
    color:aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
/* Arrière de la carte */
.arriere{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(128, 128, 128, 0.66);
    color:aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}
