.container{
    position: relative;
    width: 250px;
    height: 320px;
    /*background: green;*/
}

/* La carte */
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;/* cela permet que le texte ce retourne aussi pour être compréhensible siono il est à l'enver */
    transition: all 0.5s ease;
    /*background: yellow;*/
}
/* La carte  */
.thecard:hover{
    transform: rotateY(180deg);
}

/* Avant de la carte */
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color:#333;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
/* Arrière de la carte */
.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #5fcf80;
    color:#fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transform: rotateY(180deg);
}
